<!DOCTYPE html>
<html>
  <head>
    <title>Arkham Horror LCG</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="/styles.css" />
  </head>

  <body>
    <div id="app">
      <vm-create-game-form v-if="screen === 'vm-create-game-form'"></vm-create-game-form>
      <vm-start-screen v-if="screen === 'vm-start-screen'"></vm-start-screen>
      <vm-game-home :game="game" v-if="screen === 'vm-game-home'"></vm-game-home>
      <vm-player-home :player="player" v-if="screen === 'vm-player-home'"></vm-player-home>
    </div>
  </body>
  <script src="/main.js"></script>
</html>
